.waiting-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #0073b1;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #333;
}

.timer {
    font-size: 2rem;
    color: #ff4d4f;
    font-weight: bold;
}
